@font-face {
	font-family: Brandon Grotesque;
	src: url('fonts/Brandon_reg.otf');
}

@font-face {
	font-family: Brandon Med;
	src: url('fonts/Brandon_med.otf');
}

@font-face {
	font-family: Brandon Bold;
	src: url('fonts/Brandon_bld.otf');
}

@font-face {
	font-family: Unna;
	src: url('fonts/Unna-Regular.otf');
}

@font-face {
	font-family: Unna-Bold;
	src: url('fonts/Unna-Bold.otf')
}