@font-face {
	font-family: Brandon Grotesque;
	src: url('Brandon_reg.otf');
}

@font-face {
	font-family: Unna;
	src: url('Unna-Regular.otf');
}

@font-face {
	font-family: Unna-Bold;
	src: url('Unna-Bold.otf')
}