$heart: #BB1907;

.hamburger {
	z-index: 9999;
	position: fixed;
}

.menu-trigger {
	left: 20px;
	transition: all .5s ease-in-out;
}

.menu-trigger.active {
	left: 400px;
}

.nav-drawer {
	width: 400px;
	height: 100vh;
	background-color: #f7f7f7;
	text-align: center;
	position: fixed;
	left: -380px;
	transition: all .5s ease-in-out;
}

.nav-drawer.open {
	left: 0;
	padding-top: 3em;
}


hr {
	width: 100%;
	margin-top: 3em;
	border-top: 1.5px solid #e7e7e7;
}

.actions li {
	margin-bottom: 1.5em;
}

.logout li a {
	color: #951406;
}

.logout li a:hover,
.logout li a:visited {
	color: $heart;
}

.login, 
.logout {
	width: 100%;
}

.login li,
.logout li {
	margin-bottom: 2em;
}