// Place all the styles related to the Prjcts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** INDEX ***/

.projects {
    position: relative;
    width: 50%;
    padding: 0 15px;
    max-height: 80vh;
    float: left;
}

.project {
    position: relative;
    height: 70vh;
    width: 100%;
    background-size: 125% auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.7s ease-in-out;
}

.project h3 {
    position: absolute;
    top: 50%;
}

.with h3 {
    right: 1em;
}


.project:hover {
    background-size: 150% auto;
}

.action-links {
    margin: 15px;
}


/*** SHOW ***/
.overview {
    width: 45%;
    position: fixed;
    padding: 2em 2em 2em 1em;
}

.overview h2 {
    margin-bottom: 1em;
}

.space {
	position: relative;
	width: 55%;
	height: 100vh;
	float: left;
    padding-top: 0.6em;
    padding-left: 3em;
    padding-right: 2em;
}

.space p {
    font-size: 58%;
    font-family: Unna;
    width: 43%;
    padding: 1em 2em;
    letter-spacing: 0.05em;
    line-height: 1.7em;
}

.thousandwords img {
	max-width: 100%;
    max-height: 80vh;
}

.nopics {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new-pro {
    display: block;
    width: 300px;
    margin: 22px auto;
    text-align: center;
}

.project p {
    position: absolute;
    top: 50%;
    left: 50%;
}


/*** EDIT ***/

.edit-form-img {
    width: 55%;
    padding: 0 2em;
}

.edit-picture-form {
    width: 45%;
    padding-left: 1em;
    padding-right: 3em;
    float: right;
}

.edit-form-img img {
    max-width: 100%;
}


