// Place all the styles related to the Prjcts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** INDEX ***/

.projects {
    position: relative;
    width: 50%;
    padding: 0 8px;
    max-height: 58vh;
    float: left;
}

.project {
    position: relative;
    height: 48vh;
    width: 100%;
    background-size: 125% auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.7s ease-in-out;
}

.project h3 {
    position: absolute;
    top: 50%;
}

.with h3 {
    right: 1em;
}


.project:hover {
    background-size: 150% auto;
}

.action-links {
    margin: 15px;
    float: right;
}


/*** SHOW ***/
.overview {
    width: 88.8888%;
    margin: 6em auto;

}

.overview h2 {
    display: block;
    text-align: center;
    margin-bottom: 2em;
}

.images {
    width: 80.8888%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5em;
}


.below {
    margin-top: 2em;
    display: block;
}

.below ul li {
    margin-top: 1em;
    text-align: center;
}

.below ul li a {
    width: 250px;
    font-size: 100%;
}



.caption {
    width: 50%;
    padding: 1em;
}

.caption p {
    font-size: 58%;
    font-family: Unna;
    letter-spacing: 0.05em;
    text-align: left;
    line-height: 1.7em;
    padding-left: 2em;
}



.thousandwords img {
	max-width: 85%;
    max-height: 90vh;
}

.thousandwords .right,
.thousandwords .left {
    font-size: 12px;
    display: inline-block;
    max-width: 15%;
    padding-top: 3em;
}

.thousandwords .left {
    float: right;
    text-align: left;
    padding-left: 3em;
}

.thousandwords .right {
    float: left;
    text-align: right;
    padding-right: 3em;
}

.thousandwords li {
    margin-top: 2em;
}

.thousandwords .right a,
.thousandwords .left a {
    font-size: 15px;
}

.new-pro {
    display: block;
    width: 300px;
    margin: 22px auto;
    text-align: center;
}

.project p {
    position: absolute;
    top: 50%;
    left: 50%;
}


/*** EDIT ***/

.edit-form-img {
    width: 55%;
    padding: 0 2em;
}

.edit-picture-form {
    width: 45%;
    padding-left: 1em;
    padding-right: 3em;
    float: right;
}

.edit-form-img img {
    max-width: 100%;
}


