<div class="nav-drawer">

	<%= yield :menu %>
<hr/>


<ul>
	<li><%= link_to 'Home', root_path %></li>
</ul>


</div>

<button class="hamburger hamburger--stand menu-trigger" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>